# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
/tb_classe_judicial.json
/tb_classe_judicial_ids.json
/tb_endereco.json
/tb_endereco_ids.json
/tb_fluxo.json
/tb_fluxo_ids.json
/tb_usuario_login.json
/tb_usuario_login_ids.json
/tb_classe_judicial.csv
/tb_classe_judicial1.csv
tb_classe_judicial_ids_ok.json
tb_classe_judicial_ok.json
pjesup_tabelas.zip
RT398197.zip
tb_aplicacao_classe.json
tb_aplicacao_classe_ids.json
tb_assunto_trf.json
tb_assunto_trf_ids.json
tb_cep.json
tb_cep_ids.json
tb_competencia.json
tb_competencia_ids.json
tb_dimensao_alcada.json
tb_dimensao_alcada_ids.json
tb_estado.json
tb_estado_ids.json
tb_jurisdicao.json
tb_jurisdicao_ids.json
tb_localizacao.json
tb_localizacao_ids.json
tb_municipio.json
tb_municipio_ids.json
tb_orgao_julgador.json
tb_orgao_julgador_ids.json
tb_tipo_audiencia.json
tb_tipo_audiencia_ids.json
tb_tipo_parte.json
tb_tipo_parte_ids.json
tb_tipo_parte_trf.json
tb_tipo_parte_trf_ids.json
tb_usuario.json
tb_usuario_ids.json
